//Widescreens

@include mediaXL {
    br {
        display: none;
    }
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
    .about-info img{
        max-width: 70%;
    
}

}

//Desktops and laptops
@include mediaLg {
    #home{
        br {
            display: none;
        }
    }
    .projects {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'item item item'
            'item';
            
    }

    .about-info img{
            max-width: 70%;
        
    }

}

//Tablets and netbooks
@include mediaMd {

    main {
        align-items: center;
        text-align: center;
        br {
            display: none;
        }
        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }


    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0)
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            background: url('../img/download.png');
            background-size: cover;
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        grid-template-areas:
            'bioimage'
            'bio';
        grid-template-columns: 1fr;
    }

    .skills {
        grid-template-areas:
            'job1'
            'job2';

        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }


}

//smartphones
@include mediaSm {

    main{ 
        br {
            display: inline;
        }

        h1,
        h2,
        h3 {
            margin: 0;
            font-weight: 400;

            &.lg-heading {
                font-size: 18vw; 
            }

            &.sm-heading {
                margin-bottom: 2rem;
                padding: 0.2rem 1rem;
                background: rgba(lighten($primary-color, 2), 0.5);
            }
        }
        h1 {
            margin-top: 10vh;
            }

    }

    .projects {
        grid-template-columns: 1fr;
    }

    .boxes div{
        font-size: 5vw;
    }

}